.activechat-wrapper {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT LIST */
.user-list {
  width: 28%;
  background: white;
  border-right: 1px solid #ddd;
}

.header {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.header input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.user-scroll {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.user-item:hover {
  background: #f3f3f3;
}

.user-item.active {
  background: #e6eaff;
}

.avatar-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.meta .name {
  font-weight: bold;
  font-size: 15px;
}

.preview {
  font-size: 12px;
  color: #666;
}

.call-buttons {
  margin-left: auto;
  display: flex;
  gap: 6px;
}

.audio-call,
.video-call {
  background: #6c47ff;
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.chat-window {
  width: 72%;
  display: flex;
  flex-direction: column;
}

.empty-chat {
  margin: auto;
  color: #666;
  font-size: 20px;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.header-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.header-meta .name {
  font-weight: bold;
  font-size: 17px;
}

.header-meta .status {
  font-size: 12px;
  color: #777;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.me {
  background: #d4f9c8;
  margin-left: auto;
}

.other {
  background: white;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #ffffff;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px 14px;
  margin: 0 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.chat-input button {
  background: #6c47ff;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}
